.heading{
    font-size: 30px;
    width: 98%;
    height: 225px;
    margin: 10px;
    box-shadow: 5px 5px 5px grey;
}
.heading_div{
    float: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
}
.heading_div2{
    font-size: 19px;
}
.result_para_tag{
    box-shadow: 5px 5px 5px grey;
    font-size: 21px;
}
canvas{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}